<% provide(:page_title, "グループ一覧") %>

<div class="main-box">
  <div class="text-center">
    <h2>グループ一覧</h2>
    <p><%= current_user.name %>さんの登録しているグループ</p>
  </div>
  <div class="main-content">
    <% if @groups.empty? %>
      <div class="text-center">
        <h3>まだグループを登録していないようです。</h3>
        <p>「グループの新規追加」からグループを追加しましょう！</p>
      </div>
    <% else %>
      <div class="container my-3">
        <div class="row">
          <% @groups.each do |group| %>
            <div class="col-sm-6 col-md-4 col-lg-3 my-3">
              <a href="<%= group_path(group) %>" class="group-card-link">
                <div class="card p-3 h-100">
                  <h5 class="card-title"><%= group.name %></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= view_time(group.created_at) %></h6>
                  <p class="card-text"><%= group.comment %></p>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="text-center">
      <%= link_to new_group_path, class: "btn btn-dark" do %>
        <i class="bi bi-plus me-2"></i>
        グループの新規追加
      <% end %>
    </div>
  </div>
</div>
