<!DOCTYPE html>
<html>
  <head>
    <title>Junrei</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </head>

  <body>
  <% if alert.present? || notice.present? %>
    <div class="alert alert-<%= alert.present? ? 'danger' : 'primary' %> alert-dismissible fade show custom-alert" role="alert">
      <% if alert.present? %>
        <% if alert.instance_of?(Array) %>
          <h5>以下のエラーが発生しました。</h5>
          <ul>
            <% alert.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        <% elsif alert.instance_of?(String) %>
          <p><%= alert %></p>
        <% end %>
      <% else %>
        <p><%= notice %></p>
      <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
